@page
@model RegisterModel

@{
    ViewData["Title"] = "Kayıt Ol";
}

@{
    Layout = "~/Views/Shared/_LoginSignupLayout.cshtml";
}

<h1 style="color: white">Cafe Dünyası</h1>

<div class="container">
    <div class="col-md-12">
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal templatemo-login-form-2">
                <div class="row">
                    <div class="col-md-12">
                        <h1>@ViewData["Title"]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="templatemo-one-signin col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Name" class="control-label"></label>
                                    <div class="templatemo-input-icon-container">
                                        <i class="fa fa-user"></i>
                                        <input asp-for="Input.Name" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Surname" class="control-label"></label>
                                    <div class="templatemo-input-icon-container">
                                        <input asp-for="Input.Surname" class="form-control" />
                                        <i class="fa fa-lock"></i>
                                        <span asp-validation-for="Input.Surname" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email" class="control-label"></label>
                                    <div class="templatemo-input-icon-container">
                                        <input asp-for="Input.Email" class="form-control" />
                                        <i class="fa fa-lock"></i>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Password" class="control-label"></label>
                                    <div class="templatemo-input-icon-container">
                                        <input asp-for="Input.Password" class="form-control" />
                                        <i class="fa fa-lock"></i>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                                    <div class="templatemo-input-icon-container">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                                        <i class="fa fa-lock"></i>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-warning">Register</button>
                            </div>
                        </div>
                        <p>
                            <a asp-page="./Login">Hesabın zaten var mı? Giriş yap.</a>
                        </p>
                    </div>
                    <div class="templatemo-other-signin col-md-6">
                        <label class="margin-bottom-15">
                            Kafelerin sosyal medyasına hoş geldin!
                        </label>
                        <a class="btn btn-block margin-bottom-15">
                            <i class="fa fa-square" style="color:whitesmoke"></i> İşletmenin menüsünü kafeye gitmeden görebilme imkanı.
                        </a>
                        <a class="btn btn-block margin-bottom-15">
                            <i class="fa fa-square" style="color:whitesmoke"></i> İşletmeler sizi memnun etmek için en güzel sunumlarını hazırlayacaklar.
                        </a>
                        <a class="btn btn-block">
                            <i class="fa fa-square" style="color:whitesmoke"></i> Sevdiğiniz mekanları artık daha yakından takip edebileceksiniz.
                        </a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
