@page
@model ActivateBusinessAccountModel
@{
    ViewData["Title"] = "Business Account";
    ViewData["ActivePage"] = ManageNavPages.ActivateBusinessAccount;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Input.BusinessName"></label>
                <input asp-for="Input.BusinessName" class="form-control" multiple />
                <span asp-validation-for="Input.BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" multiple />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            @if (Model.BusinessAccount)
            {
                <img src="@("../../../../../images/BusinessImages/profile/" + Model.ProfileImageName)" />
            }
        <div class="form-group">
            @if (Model.BusinessAccount)
            {
                <label asp-for="Input.ProfileImageUpdate"></label>
                <input asp-for="Input.ProfileImageUpdate" class="form-control" multiple />
                <span asp-validation-for="Input.ProfileImageUpdate" class="text-danger"></span>
            }
            else
            {
                <label asp-for="Input.ProfileImage"></label>
                <input asp-for="Input.ProfileImage" class="form-control" multiple />
                <span asp-validation-for="Input.ProfileImage" class="text-danger"></span>
            }
        </div>
            @if (Model.BusinessAccount)
            {
                <img src="@("../../../../../images/BusinessImages/menu/" + Model.MenuImageName)" />
            }
        <div class="form-group">
            @if (Model.BusinessAccount)
            {
                <label asp-for="Input.MenuImageUpdate"></label>
                <input asp-for="Input.MenuImageUpdate" class="form-control" multiple />
                <span asp-validation-for="Input.MenuImageUpdate" class="text-danger"></span>
            }
            else
            {
                <label asp-for="Input.MenuImage"></label>
                <input asp-for="Input.MenuImage" class="form-control" multiple />
                <span asp-validation-for="Input.MenuImage" class="text-danger"></span>
            }
        </div>
            @if (!Model.BusinessAccount)
            {
                <button id="update-profile-button" name="button" value="Activate" class="btn btn-warning">Activate</button> @*type="submit"*@
            }
            else
            {
                <button id="update-profile-button" name="button" value="Update" class="btn btn-warning">Update</button>
            }
        </form>
        <form method="post">
            @if (Model.BusinessAccount)
            {
            <button id="update-profile-button" name="button" value="Remove" class="btn btn-danger" style="margin-top: 10px">Remove</button>
            }
        </form>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}