@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Post Of Followed Accounts"; }

<div class="postSingle">
    <div class="up">
        <img src="https://onlinejpgtools.com/images/examples-onlinejpgtools/coffee-resized.jpg" style="height:40px; width:auto; border-radius:20px" />
        Berkay Şahin
    </div>
    <img src="https://onlinejpgtools.com/images/examples-onlinejpgtools/coffee-resized.jpg" class="img" />
    <div class="bottom">
        <i class="fa fa-heart" style="font-size:24px"></i> 5235
    </div>
</div>

<div class="postSingle">
    <div class="up">
        <img src="https://onlinejpgtools.com/images/examples-onlinejpgtools/coffee-resized.jpg" style="height:40px; width:auto; border-radius:20px" />
        Berkay Şahin
    </div>
    <img src="https://onlinejpgtools.com/images/examples-onlinejpgtools/coffee-resized.jpg" class="img" />
    <div class="bottom">
        <i class="fa fa-heart" style="font-size:24px"></i> 5235
    </div>
</div>